@import "_zero";
@import "_font";
$maxWidth: 1445;
$maxWidthContenier: 1125;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;

    @if $type ==1 {
        #{$property}: #{$startSize}px;

        @media (max-width: #{$maxWidthContenier}px) {
            #{$property}: calc(#{$minSize}px + #{$addSize} * ((100vw - 320px) / #{($maxWidthContenier - 320)}));
        }

    }

    @else if $type ==2 {
        #{$property}: #{$startSize}px;

        @media (min-width: #{$maxWidthContenier}px) {
            #{$property}: calc(#{$minSize}px + #{$addSize} * ((100vw - 320px) / #{($maxWidth - 320)}));
        }

    }

    @else {
        #{$property}: calc(#{$minSize}px + #{$addSize} * ((100vw - 320px) / #{($maxWidth - 320)}));
    }
}
[class*="_contenier"] {
    max-width: 1125px;
    padding: 0 15px;
    margin: 0 auto;
}
.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    .header{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;



        .header__contenier{
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 130px;
            .header__logo{
                display: flex;
                align-items: center;
                font-weight: bold;
                font-family: 'Gilroy', sans-serif;
                font-size: 24px;
                .header__logo--img{
                    max-width: 100%;
                    

                }
                .header__logo--text{
                    margin: 0 0 0 15px;
                    color: #ff8c00;
                    white-space: nowrap;
                }
            }
            .menu{
                .menu__list{
                    display: flex;
                    align-items: center;
                    .menu__link{
                        font-size: 20px;
                        color: #3a2a1d;
                        font-weight: 500;
                        &:not(:last-child){
                            @include adaptiv-value(margin-right, 24, 18, 0);
                            
                        }

                    }
                }
            }
            .header__btns{
                display: flex;
                align-items: center;
                @include adaptiv-value("font-size", 20, 18, 0);
                .header__btn{
                    color: #ff8c00;
                    
                    font-weight: bold;
                    &:not(:last-child){
                        @include adaptiv-value(margin-right, 12, 6, 0);
                    }
                }
                .orange{
                    padding: 10px 28px;
                    background-color: #ff8c00;
                    border-radius: 30px;

                    color: #fff;
                    font-weight: bold;
                }
            }
        }
    }
    .main{
        flex: 1 1 auto;
        .problem{
            padding: 128px 0 70px 0;
            .problem__contenier{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .left{
                    .left__problem{
                        display: flex;
                        text-align: center;
                        flex-direction: column;
                        align-items: center;
                        background-color: #ffeadc;
                        border-radius: 30px;
                        max-width: 480px;
                        padding: 10px 25px 66px 25px;
                        line-height: 22px;
                        box-shadow: 0px 4px 10px 4px rgba(34, 60, 80, 0.2);

                        .left__problem--title{
                            font-weight: bold;
                            font-size: 24px;
                            color: #ff8c00;
                            margin-bottom: 26px;

                        }
                        .left__problem--text{
                            font-size: 18px;
                            font-weight: 500;
                            font-family: "Gilroy" sans-serif;
                            text-align: left;
                            letter-spacing: 4%;
                        }
                        &:not(:last-child){
                            margin-bottom: 40px;
                        }
                    }
                    .left__solution{
                        display: flex;
                        text-align: center;
                        flex-direction: column;
                        align-items: center;
                        background-color: #ffeadc;
                        border-radius: 30px;
                        max-width: 480px;
                        padding: 10px 25px 66px 25px;
                        line-height: 22px;
                        box-shadow: 0px 4px 10px 4px rgba(34, 60, 80, 0.2);

                        .left__solution--title{
                            font-weight: bold;
                            font-size: 24px;
                            color: #ff8c00;
                            margin-bottom: 26px;

                        }
                        .left__solution--text{
                            font-size: 18px;
                            font-weight: 500;
                            font-family: "Gilroy" sans-serif;
                            text-align: left;
                            letter-spacing: 4%;

                        }
                    }
                }
                .right{
                    width: 480px;
                    background-color: #ffeadc;
                    border-radius: 30px;
                    height: 630px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    flex-direction: column;
                    box-shadow: 0px 4px 10px 4px rgba(34, 60, 80, 0.2);
                    .right_title{
                        flex: 1 1 auto;
                        font-size: 24px;
                        font-weight: bold;
                        position: relative;
                        top: 100px;
                        margin: 0 20px;
                    }
                    /* Скрываем настоящий input */
                    .righ_btns{
                        display: flex;
                        align-items: center;
                        // flex-direction: column;
                        position: relative;
                        margin: 0 auto;
                        top: -50px;
                        .custom-file-label {
                                position: relative;
                                display: inline-block;
                                padding: 10px 22px;
                                border-radius: 20px;
                                background: #ff9600;
                                color: #fff;
                                font-weight: 600;
                                cursor: pointer;
                                user-select: none;
                            }
                        
                            .custom-file-label input[type="file"] {
                                position: absolute;
                                inset: 0;
                                width: 100%;
                                height: 100%;
                                opacity: 0;
                                cursor: pointer;
                            }
                        
                            .label-text {
                                pointer-events: none;
                            }
                        
                            .file-name {
                                font-size: 14px;
                                color: #222;
                                max-width: 300px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        
                            .submit-btn {
                                padding: 10px 22px;
                                border-radius: 20px;
                                background: #ff7d00;
                                color: #fff;
                                border: none;
                                cursor: pointer;
                                margin: 0 10px;
                            }
                    }
                }
            }
        }
        .team{
            padding: 126px 0 140px 0;
            background-color: #fff4eb;
            // max-width: 100%;
            
            
            .team__contenier{
                .title{
                    font-weight: 500;
                    font-size: 48px;
                    text-align: center;
                    margin-bottom: 34px;
                }
                .top{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .top__blocks{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: relative;     
                        &:hover{
                            .top_img{
                                // transform: scale(1.05); 
                                height: 486px;
                                width: 324px;
                            }
                            .top__info{
                                display: flex;
                            }
                        }
                        .top_img{
                            width: 240px;
                            height: 353px;
                            position: relative;
                            overflow: hidden;
                            img{
                                max-width: 100%;
                                border-radius: 30px;
                                position: absolute;
                                object-fit: cover;

                            }
                        }
                        .top__info{
                            display:none;
                            
                            z-index: 1;
                            position: absolute;
                            align-items: center;
                            flex-direction: column;
                            width: 200px;
                            height: 100px;
                            margin: 0 auto;
                            bottom: 20px;
                            // top: -100;
                            text-align: center;
                            justify-content: center;

                            background-color: #d9d9d96b;
                            border-radius: 10px;
                            
                            // &:hover{
                            //     display: flex;
                            // }
                            
                            .top__name{
                                
                                color: #ff8c00;
                                font-weight: bold;
                                font-size: 18px;margin-bottom: 5px;
                                
                            }
                            .top__role{
                                margin-bottom: 5px;
                            }
                            .top__links{
                                .top_link{

                                }
                            }
                        }
                    }
                }

                

            }
        }
        .reason{
            padding: 128px 0 140px 0;
            .reason__contenier{

                .reason__title{
                    text-align: center;
                    font-weight: 500;
                    font-size: 48px;
                    text-align: center;
                    margin-bottom: 34px;
                    
                }
                .reason_items{
                    display: flex;
                    justify-content: space-between;
                    flex: 0 0 auto;
                    .left{
                        
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        background-color: #ffeadc;
                        border-radius: 30px;
                        padding: 36px 25px 108px 25px;
                        flex: 0 0 45%;
                        .left__title{
                            text-align: center;
                            font-weight: bold;
                            font-size: 32px;
                            margin-bottom: 37px;
                            color: #ff8c00;
                        }
                        .left__text{
                            font-size: 18px;
                            font-family: "Gilroy", sans-serif;
                            font-weight: 500;
                            letter-spacing: 4%;
                            line-height: 30px;
                        }
                    }
                    .right{
                        .right__img{
                            position: relative;
                            overflow: hidden;
                            img{
                                max-width: 100%;
                                object-fit: cover;

                            }
                        }
                    }
                }
            }
        }
        .roadmap{
            padding: 128px 0 140px 0;
            background-color: #fff4eb;
            .roadmap__contenier{
                .raodmap_titie{
                    font-weight: 500;
                    font-size: 48px;
                    text-align: center;
                    margin-bottom: 34px;
                }
                .roadmap__blocks{
                    display: flex;
                    justify-content: space-between;
                    
                    
                    .block{
                            // flex: 0 0 auto;
                            width: 336px;
                            padding: 47px 30px 46px 30px;
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            margin: 0 auto;
                            background-color: #fafafa;
                            border-radius: 20px;
                            .roadmap_img{

                            }
                            .block__title{
                                font-weight: 400;
                                font-size: 20px;
                                padding: 9px 24px;
                                border-radius: 60px;
                                background-color: #ffa72c34;
                                color: #8a5e00;
                                margin: 37px 0;

                            }
                            .one{
                                background-color: #64c75d3a;
                                color: #64c75d;
                            }
                            .two{
                                background-color: #ffa72c62;
                                color: #8a5e00;
                            }
                            .block__subtitle{
                                margin-bottom: 10px;
                                font-size: 18px;
                                font-weight: 600;
                            }
                            .block_texts{
                                .text{
                                    font-size: 16px;
                                    font-weight: 500;
                                    text-align: center;
                                    // line-height: 28px;
                                    // margin-bottom: 10px;
                                    &:not(:last-child){
                                        margin-bottom: 10px;
                                    }
                                    &::marker{
                                        position: relative;
                                        left: -40px;
                                    }
                                }
                            }
                        }
                        
                }
            }
        }

    }
    .footer{
        margin-top: auto;
    }
}