@import "_zero";
@import "_font";
$maxWidth: 1920;
$maxWidthContenier: 1440;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;

    @if $type ==1 {
        #{$property}: #{$startSize}px;

        @media (max-width: #{$maxWidthContenier}px) {
            #{$property}: calc(#{$minSize}px + #{$addSize} * ((100vw - 320px) / #{($maxWidthContenier - 320)}));
        }

    }

    @else if $type ==2 {
        #{$property}: #{$startSize}px;

        @media (min-width: #{$maxWidthContenier}px) {
            #{$property}: calc(#{$minSize}px + #{$addSize} * ((100vw - 320px) / #{($maxWidth - 320)}));
        }

    }

    @else {
        #{$property}: calc(#{$minSize}px + #{$addSize} * ((100vw - 320px) / #{($maxWidth - 320)}));
    }
}
[class*="_contenier"] {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}
.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    .header{

    }
    .main{
        flex: 1 1 auto;
    }
    .footer{
        margin-top: auto;
    }
}