@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #3a2a1d;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular/Gilroy-Regular.ttf") format("truetype"), url("../fonts/Gilroy-Regular/Gilroy-Regular.svg#../fonts/Gilroy-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold/Gilroy-Bold.svg#../fonts/Gilroy-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium/Gilroy-Medium.svg#../fonts/Gilroy-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold/Gilroy-Semibold.eot");
  src: url("../fonts/Gilroy-Semibold/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Semibold/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold/Gilroy-Semibold.ttf") format("truetype"), url("../fonts/Gilroy-Semibold/Gilroy-Semibold.svg#../fonts/Gilroy-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
[class*=_contenier] {
  max-width: 1125px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
.wrapper .header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}
.wrapper .header .header__contenier {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 130px;
}
.wrapper .header .header__contenier .header__logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: "Gilroy", sans-serif;
  font-size: 24px;
}
.wrapper .header .header__contenier .header__logo .header__logo--img {
  max-width: 100%;
}
.wrapper .header .header__contenier .header__logo .header__logo--text {
  margin: 0 0 0 15px;
  color: #ff8c00;
  white-space: nowrap;
}
.wrapper .header .header__contenier .menu .menu__list {
  display: flex;
  align-items: center;
}
.wrapper .header .header__contenier .menu .menu__list .menu__link {
  font-size: 20px;
  color: #3a2a1d;
  font-weight: 500;
}
.wrapper .header .header__contenier .menu .menu__list .menu__link:not(:last-child) {
  margin-right: calc(18px + 6 * (100vw - 320px) / 1125);
}
.wrapper .header .header__contenier .header__btns {
  display: flex;
  align-items: center;
  font-size: calc(18px + 2 * (100vw - 320px) / 1125);
}
.wrapper .header .header__contenier .header__btns .header__btn {
  color: #ff8c00;
  font-weight: bold;
}
.wrapper .header .header__contenier .header__btns .header__btn:not(:last-child) {
  margin-right: calc(6px + 6 * (100vw - 320px) / 1125);
}
.wrapper .header .header__contenier .header__btns .orange {
  padding: 10px 28px;
  background-color: #ff8c00;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
}
.wrapper .main {
  flex: 1 1 auto;
}
.wrapper .footer {
  margin-top: auto;
}