@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #3a2a1d;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular/Gilroy-Regular.ttf") format("truetype"), url("../fonts/Gilroy-Regular/Gilroy-Regular.svg#../fonts/Gilroy-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold/Gilroy-Bold.svg#../fonts/Gilroy-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium/Gilroy-Medium.svg#../fonts/Gilroy-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold/Gilroy-Semibold.eot");
  src: url("../fonts/Gilroy-Semibold/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Semibold/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold/Gilroy-Semibold.ttf") format("truetype"), url("../fonts/Gilroy-Semibold/Gilroy-Semibold.svg#../fonts/Gilroy-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
[class*=_contenier] {
  max-width: 1125px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
.wrapper .header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}
.wrapper .header .header__contenier {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 130px;
}
.wrapper .header .header__contenier .header__logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: "Gilroy", sans-serif;
  font-size: 24px;
}
.wrapper .header .header__contenier .header__logo .header__logo--img {
  max-width: 100%;
}
.wrapper .header .header__contenier .header__logo .header__logo--text {
  margin: 0 0 0 15px;
  color: #ff8c00;
  white-space: nowrap;
}
.wrapper .header .header__contenier .menu .menu__list {
  display: flex;
  align-items: center;
}
.wrapper .header .header__contenier .menu .menu__list .menu__link {
  font-size: 20px;
  color: #3a2a1d;
  font-weight: 500;
}
.wrapper .header .header__contenier .menu .menu__list .menu__link:not(:last-child) {
  margin-right: calc(18px + 6 * (100vw - 320px) / 1125);
}
.wrapper .header .header__contenier .header__btns {
  display: flex;
  align-items: center;
  font-size: calc(18px + 2 * (100vw - 320px) / 1125);
}
.wrapper .header .header__contenier .header__btns .header__btn {
  color: #ff8c00;
  font-weight: bold;
}
.wrapper .header .header__contenier .header__btns .header__btn:not(:last-child) {
  margin-right: calc(6px + 6 * (100vw - 320px) / 1125);
}
.wrapper .header .header__contenier .header__btns .orange {
  padding: 10px 28px;
  background-color: #ff8c00;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
}
.wrapper .main {
  flex: 1 1 auto;
}
.wrapper .main .problem {
  padding: 128px 0 70px 0;
}
.wrapper .main .problem .problem__contenier {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .main .problem .problem__contenier .left .left__problem {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: #ffeadc;
  border-radius: 30px;
  max-width: 480px;
  padding: 10px 25px 66px 25px;
  line-height: 22px;
  box-shadow: 0px 4px 10px 4px rgba(34, 60, 80, 0.2);
}
.wrapper .main .problem .problem__contenier .left .left__problem .left__problem--title {
  font-weight: bold;
  font-size: 24px;
  color: #ff8c00;
  margin-bottom: 26px;
}
.wrapper .main .problem .problem__contenier .left .left__problem .left__problem--text {
  font-size: 18px;
  font-weight: 500;
  font-family: "Gilroy" sans-serif;
  text-align: left;
  letter-spacing: 4%;
}
.wrapper .main .problem .problem__contenier .left .left__problem:not(:last-child) {
  margin-bottom: 40px;
}
.wrapper .main .problem .problem__contenier .left .left__solution {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-color: #ffeadc;
  border-radius: 30px;
  max-width: 480px;
  padding: 10px 25px 66px 25px;
  line-height: 22px;
  box-shadow: 0px 4px 10px 4px rgba(34, 60, 80, 0.2);
}
.wrapper .main .problem .problem__contenier .left .left__solution .left__solution--title {
  font-weight: bold;
  font-size: 24px;
  color: #ff8c00;
  margin-bottom: 26px;
}
.wrapper .main .problem .problem__contenier .left .left__solution .left__solution--text {
  font-size: 18px;
  font-weight: 500;
  font-family: "Gilroy" sans-serif;
  text-align: left;
  letter-spacing: 4%;
}
.wrapper .main .problem .problem__contenier .right {
  width: 480px;
  background-color: #ffeadc;
  border-radius: 30px;
  height: 630px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 4px 10px 4px rgba(34, 60, 80, 0.2);
  /* Скрываем настоящий input */
}
.wrapper .main .problem .problem__contenier .right .right_title {
  flex: 1 1 auto;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  top: 100px;
  margin: 0 20px;
}
.wrapper .main .problem .problem__contenier .right .righ_btns {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
  top: -50px;
}
.wrapper .main .problem .problem__contenier .right .righ_btns .custom-file-label {
  position: relative;
  display: inline-block;
  padding: 10px 22px;
  border-radius: 20px;
  background: #ff9600;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}
.wrapper .main .problem .problem__contenier .right .righ_btns .custom-file-label input[type=file] {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.wrapper .main .problem .problem__contenier .right .righ_btns .label-text {
  pointer-events: none;
}
.wrapper .main .problem .problem__contenier .right .righ_btns .file-name {
  font-size: 14px;
  color: #222;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wrapper .main .problem .problem__contenier .right .righ_btns .submit-btn {
  padding: 10px 22px;
  border-radius: 20px;
  background: #ff7d00;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 0 10px;
}
.wrapper .main .team {
  padding: 126px 0 140px 0;
  background-color: #fff4eb;
}
.wrapper .main .team .team__contenier .title {
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  margin-bottom: 34px;
}
.wrapper .main .team .team__contenier .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .main .team .team__contenier .top .top__blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.wrapper .main .team .team__contenier .top .top__blocks:hover .top_img {
  height: 486px;
  width: 324px;
}
.wrapper .main .team .team__contenier .top .top__blocks:hover .top__info {
  display: flex;
}
.wrapper .main .team .team__contenier .top .top__blocks .top_img {
  width: 240px;
  height: 353px;
  position: relative;
  overflow: hidden;
}
.wrapper .main .team .team__contenier .top .top__blocks .top_img img {
  max-width: 100%;
  border-radius: 30px;
  position: absolute;
  object-fit: cover;
}
.wrapper .main .team .team__contenier .top .top__blocks .top__info {
  display: none;
  z-index: 1;
  position: absolute;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 100px;
  margin: 0 auto;
  bottom: 20px;
  text-align: center;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.4196078431);
  border-radius: 10px;
}
.wrapper .main .team .team__contenier .top .top__blocks .top__info .top__name {
  color: #ff8c00;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
.wrapper .main .team .team__contenier .top .top__blocks .top__info .top__role {
  margin-bottom: 5px;
}
.wrapper .main .reason {
  padding: 128px 0 140px 0;
}
.wrapper .main .reason .reason__contenier .reason__title {
  text-align: center;
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  margin-bottom: 34px;
}
.wrapper .main .reason .reason__contenier .reason_items {
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
}
.wrapper .main .reason .reason__contenier .reason_items .left {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffeadc;
  border-radius: 30px;
  padding: 36px 25px 108px 25px;
  flex: 0 0 45%;
}
.wrapper .main .reason .reason__contenier .reason_items .left .left__title {
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 37px;
  color: #ff8c00;
}
.wrapper .main .reason .reason__contenier .reason_items .left .left__text {
  font-size: 18px;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  letter-spacing: 4%;
  line-height: 30px;
}
.wrapper .main .reason .reason__contenier .reason_items .right .right__img {
  position: relative;
  overflow: hidden;
}
.wrapper .main .reason .reason__contenier .reason_items .right .right__img img {
  max-width: 100%;
  object-fit: cover;
}
.wrapper .main .roadmap {
  padding: 128px 0 140px 0;
  background-color: #fff4eb;
}
.wrapper .main .roadmap .roadmap__contenier .raodmap_titie {
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  margin-bottom: 34px;
}
.wrapper .main .roadmap .roadmap__contenier .roadmap__blocks {
  display: flex;
  justify-content: space-between;
}
.wrapper .main .roadmap .roadmap__contenier .roadmap__blocks .block {
  width: 336px;
  padding: 47px 30px 46px 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  background-color: #fafafa;
  border-radius: 20px;
}
.wrapper .main .roadmap .roadmap__contenier .roadmap__blocks .block .block__title {
  font-weight: 400;
  font-size: 20px;
  padding: 9px 24px;
  border-radius: 60px;
  background-color: rgba(255, 167, 44, 0.2039215686);
  color: #8a5e00;
  margin: 37px 0;
}
.wrapper .main .roadmap .roadmap__contenier .roadmap__blocks .block .one {
  background-color: rgba(100, 199, 93, 0.2274509804);
  color: #64c75d;
}
.wrapper .main .roadmap .roadmap__contenier .roadmap__blocks .block .two {
  background-color: rgba(255, 167, 44, 0.3843137255);
  color: #8a5e00;
}
.wrapper .main .roadmap .roadmap__contenier .roadmap__blocks .block .block__subtitle {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}
.wrapper .main .roadmap .roadmap__contenier .roadmap__blocks .block .block_texts .text {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.wrapper .main .roadmap .roadmap__contenier .roadmap__blocks .block .block_texts .text:not(:last-child) {
  margin-bottom: 10px;
}
.wrapper .main .roadmap .roadmap__contenier .roadmap__blocks .block .block_texts .text::marker {
  position: relative;
  left: -40px;
}
.wrapper .footer {
  margin-top: auto;
}